<body style="background-image: url(../../assets/MainBackground.jpg);height: 100%;width: 100%;">
<div class="topnav">
    <img  src="./assets/kanbanLogo.png" alt="logo" style="width: 50px;margin-left: -91.7%;height: 50px;padding-right: 10px;">
    <a  style="color: black;font-family: 'Great Vibes', cursive;margin-left: 80px;" routerLink="">Kanban Board</a>
   <a style="color: black;" routerLink="/about">About</a>
    <a style="color: black;margin-left: 60%;" routerLink="/login">Log In</a>
    <a style="color: black;" routerLink="/register">Sign Up</a>
</div>
<!-- <div class="container box">
  <p><b>Certification</b>:NIIT StackRoute PGP in Full Stack Software Engineering</p>     
  <p><b>Email</b>: shubhampatil7163@gmail.com<br>Mobile No.: 8888264775</p>
  <p><b>GitHub</b>: https://gitlab.com/shubham._._<br><b>Linked In</b>: https://www.linkedin.com/in/shubham-patil-98b4a8221</p>
</div>
<div class="container box">

</div>
<div class="container box">

</div> -->
<!-- <div style="margin-left: 20%;margin-right: 20%;margin-top: 5%;font-size: 17px;">
  A kanban board is an agile project management tool designed to help visualize work, limit work-in-progress, and maximize efficiency (or flow). It can help both agile and DevOps teams establish order in their daily work. Kanban boards use cards, columns, and continuous improvement to help technology and service teams commit to the right amount of work, and get it done!
  Kanban has come a long way from its origins in lean manufacturing thanks to a small but mighty group of kanban enthusiasts. David Anderson’s work defining the kanban method helped bring kanban into the software and services space, and Personal Kanban, by Jim Benson and Tonianne DeMaria, helped expand the applications of kanban to places you wouldn’t believe.
</div> -->
<div style="margin-top:10%; margin-left: 15px;">
    <div style="text-align: center;font-size: 40px;">OUR TEAM</div><br><br>
<mat-card class="example-card" >
    <mat-card-title ><u>Gaurav Khati</u></mat-card-title>
    <br>
    <mat-card-content>
      <p><b>Certification</b>:NIIT StackRoute PGP in Full Stack Software Engineering</p>
      <p><b>Email</b>: gauravkhatikhati@gmail.com<br><b>Mobile No.</b>: 6361800072</p>
      <p><b>GitHub</b>: <a target="_blank" href="https://github.com/gkhati">https://github.com/gkhati</a>
        <br><b>Linked In</b>:  <a target="_blank" href="https://www.linkedin.com/in/gaurav-khati569b34153/">https://www.linkedin.com/in/gaurav-khati569b34153/</a>
        <br><br>
      </p>
      
    </mat-card-content>
    
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title><u>Shubham Patil</u></mat-card-title>
    <br>
    <mat-card-content>
        <p><b>Certification</b>:NIIT StackRoute PGP in Full Stack Software Engineering</p>     
        <p><b>Email</b>: shubhampatil7163@gmail.com<br><b>Mobile No.</b>: 8888264775</p>
        <p><b>GitHub</b><a target="_blank"  href="https://gitlab.com/shubham._._">: https://gitlab.com/shubham._._</a><br><b>Linked In</b>: <a target="_blank" href="https://www.linkedin.com/in/shubham-patil-98b4a8221">https://www.linkedin.com/in/shubham-patil-98b4a8221</a></p>

    </mat-card-content>
    
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title><u>Pratyush Katre</u></mat-card-title>
    <br>
    <mat-card-content>
        <p><b>Certification</b>:NIIT StackRoute PGP in Full Stack Software Engineering</p>    
        <p><b>Email</b>: pratyushkatre3@gmail.com<br><b>Mobile No.</b>: 7974175611</p>
        <p><b>GitHub</b><a target="_blank" href="https://github.com/pratyushkatre3">: https://github.com/pratyushkatre3</a><br><b>Linked In</b><a target="_blank" href="https://www.linkedin.com/in/pratyush-katre-14765aa8">: https://www.linkedin.com/in/pratyush-katre-14765aa8</a></p>

    </mat-card-content>
    
  </mat-card>
</div>

<div style="margin-top: 27%;">
<div id="footer" style="text-align: center;">
  <div style="border-top: 8px solid #254A73; width:99%;margin-left: 6%;margin-top: 0%;"></div>
  <ul style="margin-left: 17%;">
    <li><a href="index.html">TermsFeed © 2021 - 2022</a> |</li>  Cookies Policy  Terms of Use
    <li><a target="_blank" routerLink="/privacy">Privacy Policy</a> |</li>
    <li><a href="index2.html">Cookies</a> |</li>
    <li><a href="index2.html">Terms of Use</a> </li>
    
    <!-- <li><a href="index2.html">Services</a> |</li>
    <li><a href="index2.html">Reviews</a> |</li>
    <li><a href="index2.html">Partners</a> |</li>
    <li><a href="index2.html">Contact us</a></li> -->
  </ul>
  <div style=" margin-left: 75%;margin-top: -3%"><img src="../../assets/fb.png" style="height: 28px;"></div>
  <div style=" margin-left: 80.5%;margin-top: -2.7%"><img src="../../assets/insta.png" style="height: 29px;"></div>
  <div style=" margin-left: 87.5%;margin-top: -3%"><img src="../../assets/youtube.png" style="height: 29px;width: 32px;"></div>
  <div style=" margin-left: 94.3%;margin-top: -3.1%"><img src="../../assets/linkedin.png" style="height: 29px;width: 32px;"></div>
  <div style=" margin-left: 99.3%;margin-top: -2.5%"><img src="../../assets/twit.png" style="height: 27px;width: 32px;"></div>

 
</div>
</div>
  </body>